body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

.hidden { display: none; }

.center {
  text-align: center;
  margin-top: 120px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: darkred;
}

header {
  background: red;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.baixo {
  background: #330000;
  border: 2px solid red;
  padding: 5px;
}