body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

.topo {
  background: #000;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #c40000;
}

.logo {
  width: 180px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 22px;
  letter-spacing: 2px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input, button {
  padding: 12px;
  margin: 6px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

input {
  width: 250px;
}

button {
  background: #c40000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff0000;
}

#dashboard {
  padding: 20px;
}

.produto {
  background: #1a1a1a;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border-left: 5px solid #c40000;
}

.baixo {
  border-left: 5px solid orange;
}

#scanner {
  width: 300px;
  margin-top: 10px;
}
